<!-- Bandeau cookie comportant le message et le bouton pour éventuellement s'opposer -->
<div id="cookie-banner" class="cookie-banner wrapper">
  <div class="container-sm">
    Ce site utilise Google Analytics. En continuant à naviguer, vous nous autorisez à déposer un cookie à des fins de mesure d'audience.
    <button id="cookie-more-button" name="cookie-more">En savoir plus ou s'opposer</button>
  </div>
</div>

<!-- Boite de dialogue comportant une description détaillée et deux boutons (confirmation, rejet) -->
<div id="cookie-inform-and-ask" class="cookie-inform-and-ask">
  <div class="container-sm">
    <div class="cookie-dialog">
      <h5 class="cookie-title">Les cookies Google Analytics</h5>
      <p>Ce site utilise des cookies de Google Analytics. Ces cookies nous aident à identifier le contenu qui vous intéresse le plus ainsi qu'à repérer certains dysfonctionnements. Vos données de navigations sur ce site sont envoyées à Google Inc.</p>
    </div>
    <div class="cookie-choice">
      <button id="ga-confirm-button" name="ga-confirm">Accepter</button>
      <button id="ga-cancel-button" name="ga-cancel">S'opposer</button>
    </div>
  </div>
</div>