<header class="tunnel-header">
  <div class="tunnel-header__container container-sm">
    <a class="site-header__logo" href="{{site.link}}" rel="home">
      <img src="{{Image(options.logo).src|resize(240)}}" alt="{{Image(options.logo).alt}}">
    </a>
    <a href="{{site.link}}">
      <button class="tunnel-header__nav-trigger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </a>
  </div>
</header>